<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>

    <!-- Content of the main page -->
    <div id="otherPageContent"></div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const token = localStorage.getItem('token');
            const userType = localStorage.getItem('userType');
            if (userType == 'Admin') {
                window.location.href = `/admin`;
            } else if (userType == 'Customer') {
                window.location.href = `/customer?token=${token}`;
            } else {
                window.location.href = `/customer`;
            }

           
        });
    </script>
</body>
</html>
