@model projectMVC.DataTypes.UserDTO

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User Details</title>
</head>
<body>
    <h1>User Details</h1>

    <p><strong>User Name:</strong> @Model.UserName</p>
    <p><strong>Phone Number:</strong> @Model.PhoneNumber</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>User Address:</strong> @Model.UserAddress</p>
</body>
</html>
